@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  path.chord
    // fill green
    fill-opacity 0.3
    stroke-opacity 1
    &:hover
      fill-opacity 0.9
  text
    font-size 1.4em
